body {
  padding: 0;
  margin: 0;
}

.header-container{
  background-color: #FBB43B;
  max-width: 100%;
}

#login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}



.buscar-container {
  background-color: #ECF0F5; /*rgba(19, 19, 19, 0.3)*/
  padding: 40px;
  border-radius: 8px;
  width: 800px;
  margin-top: 240px;
  background-color: #ECF0F5;
  height: 500px;
}

.buscar-header {
  padding-bottom: 50px;
  color: #fff;
}

.buscar-header h2{
  text-align: center;
  color: #FD6D12;
  font-weight: bold;
}

.buscar-header::after {
  content: "";
  margin-left: 35px;
  width: 650px;
  height: 2px;
  background-color: #FD6D12;
  display: block;
}

.buscar-content{
  margin-top: -60px;
  display: flex;
  justify-content: center;
}

.buscar-content label {
  color: #FD6D12;
  font-size: 20px;
}

.text-names{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2px;
  color: #FD6D12;
}

.buscar-content-area {
  display: flex;
  flex-direction: column;
  padding:10px 20px;
  width: 40%;
  color: #0B66DF;
  font-size: 20px;
  margin-top: 20px;
}

.aplicar{
  width: 75%;
  height: 36px;
  background-color: #0049A9;
  color:#e1e1e1;
  border: none;
  border-radius:5px ; 
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buscar-aplicar{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}