body {
  padding: 0;
  margin: 0;
  background-color: #030A13;
}

.cadastro_page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_cadastro {
  background-color: #4F4F4F; /*rgba(19, 19, 19, 0.3)*/
  padding: 40px;
  border-radius: 10px;
  width: 700px;
  height: 550px;
  margin-top: 20px;
}

.header_cadastro {
  padding-bottom: 50px;
  opacity: 0.8;
  color: #fff;
  margin-top: -30px;
}

.header_cadastro::after {
  content: "";
  width: 135px;
  height: 1px;
  background-color: #fff;
  display: block;
}

.content_cadastro label {
  color: #fff;
  font-size: 12px;
  opacity: 0.8;
}

.cadastro-area {
  display: flex;
  flex-direction: column;
  padding:10px 0;
  margin-top: -20px;
}

.cadastro-area input {
  margin-top: 10px;
  padding:0 5px;
  background-color: transparent;
  border:none;
  border-bottom: 1px solid #e1e1e1;
  outline: none;
  color: #fff;
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer_cadastro .login__submit{
  width: 50%;
  height: 40px;
  background-color: #FBB43B;
  border:none;
  color:#e1e1e1;
  margin: 10px 0;
  cursor: pointer;
  align-items: center;
  margin: 0 25%;
}

.login__submit::after{
  content: "ou entre com";
  width: 160%;
  height: 1px;
  background-color: #fff;
  display: block;
  margin: 30px -80px;
}

p{
  color: white;
}

.btn_social{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.footer_cadastro a{
  text-decoration: none;
  color: white;
}


.footer_cadastro .login__submit3 {
  width: 50%;
  height: 40px;
  background-color: #e8e9ee;
  border:none;
  color:#61566a;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin: 10px 25%;
}

.footer_cadastro .login__submit3:hover {
  background-color: #c5c5ca;
}