body {
  padding: 0;
  margin: 0;
}

.cadastro_page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_cadastro {
  background-color: #4F4F4F; /*rgba(19, 19, 19, 0.3)*/
  padding: 40px;
  border-radius: 10px;
  width: 700px;
  height: 510px;
  margin-top: 50px;
}

.header_cadastro {
  padding-bottom: 50px;
  opacity: 0.8;
  color: white;
}

.header_cadastro::after {
  content: "";
  width: 135px;
  height: 1px;
  background-color: #FD6D12;
  display: block;
}

.content_cadastro label {
  color: white;
  font-size: 12px;
  opacity: 0.8;
}

.cadastro-area {
  display: flex;
  flex-direction: column;
}

.cadastro-area input {
  margin-top: 10px;
  padding:0 5px;
  background-color: transparent;
  border:none;
  border-bottom: 1px solid white;
  outline: none;
  color: white;
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer_cadastro .login__submit{
  width: 50%;
  height: 40px;
  background-color: #FD6D12;
  border:none;
  font-weight: bold;
  color:white;
  margin: 10px 0;
  cursor: pointer;
  align-items: center;
  margin: 20px 25%;
}

.footer_cadastro .login__submit:hover {
  background-color: #c85108;
}

p{
  color: white;
}

.footer_cadastro a{
  text-decoration: none;
  color: white;
}