body {
  padding: 0;
  margin: 0;
  color: #0049A9;
}

.header-container{
  background-color: #FBB43B;
  max-width: 100%;
}

#login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.feedback-container {
  background-color: rgba(19, 19, 19, 0.3); /*rgba(19, 19, 19, 0.3)*/
  padding: 40px;
  border-radius: 8px;
  width: 800px;
  margin-top: 240px;
  background-color: #ECF0F5;
  height: 450px;
}

.feedback-header {
  padding-bottom: 50px;
  color: #0049A9;
}

.feedback-header h2{
  text-align: center;
  color: #FD6D12;
  font-weight: bold;
}

.feedback-header::after {
  content: "";
  margin-left: 35px;
  width: 650px;
  height: 2px;
  background-color: #FD6D12;
  display: block;
}

.input{
  margin-left: 10px;
}

.input-feedback{
  width: 400px;
  border-radius: 10px;
  border: none;
  margin-top: 15px;
  font-size: 20px
}

.feedback-content{
  margin-top: -30px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.feedback-content label {
  color: #0049A9;
  font-weight: bold;
  font-size: 20px;
}

.radio-feedbak{
  font-size: 20px;
  margin-bottom: 0;
}

.radio{
  padding: 10px;
  margin-right: 10px;
}

.experince-feedback{
  font-size: 20px;
  margin-top: 20px;
}

.enviar{
  display: flex;
  justify-content: center;
}

.enviar-feedback{
  width: 200px;
  height: 36px;
  background-color: #FD6D12;
  color:#e1e1e1;
  font-weight: bold;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 20px;
}