* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  height: 100%;
}
header{
  background-color:#0049A9;
  height: 70px;
  width: 100%;
}

.cabecalho {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

.navegacao {
  display: flex;
  height: 70px;
  align-items: center;
}

.nav-link{
  color: white;
  padding: 23px;
  height: 100%;
}

.nav-link:hover{
  background-color: #013880;
}

.foto_logo img{
  width: 105px;
  padding: 12px;
}
/* mouse over */
.nav-link:hover {
color: #000000;
}

/* link selecionado */
.nav-link::before {
color: white;
}