header{
    background-color:#FBB43B;
    height: 70px;
}

.foto_logo img{
    width: 370px;
    margin-top: -70px;
    margin-left: -50px;
}

.nav-link{
color: white;
display: inline;
}

.nav-item{
margin-left: 450px;
margin-top: 20px;
}

.nav-item ul li{
display: inline;
}

.nav-item ul li a{
padding: 15px;
}

/* mouse over */
.nav-link:hover {
color: #000000;
}

/* link selecionado */
.nav-link::before {
color: white;
}