body{
  background-color: #ECF0F5;
}

.img_home img{
  width: 40%;
  margin-left: 60%;
  margin-top: -370px;
}

nav{
  width: 100%;
}

h1{
  font-size: 3.2rem;
  color: #FF8800;
}

h4{
  color: #0049A9;
}

a{
  text-decoration: none;
  color: #0049A9;
}

a:hover{
  color: #0049A9;
}

.title{
  color:#FF8800;
}

.title:hover{
  color:#FF8800;
}

.btns{
  display: flex;
  flex-direction: column;
}

.button-home{
  border-radius: 15px;
  border: 1px solid #FD6D12;
  background-color: transparent;
  padding: 8px;
  margin: 0 15px;
  margin-top: 10px;
  width: 230px;
}

.clique-cadastro{
  margin-left: 5px;
}

.cadastrar-se{
  margin-top: 20px;
  display: flex;
  align-items: center;
  color: #0049A9;
}

.entrar{
  margin: -10px 8px;
  color: #0049A9;
}

.home_page{
  margin-top: 100px;
}
