.login_page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  background-color: #4F4F4F; /*rgba(19, 19, 19, 0.3)*/
  padding: 40px;
  border-radius: 10px;
  width: 400px;
  margin-top: 115px;
}

.header_login {
  padding-bottom: 50px;
  color: white;
}

.header_login::after {
  content: "";
  width: 70px;
  height: 1px;
  background-color: #FD6D12;
  display: block;  
  margin-top: -7px;
}

.content label {
  color: white;
  font-size: 12px;
  opacity: 0.8;
}

.content-area {
  display: flex;
  flex-direction: column;
  padding:10px 0;
}

.content-area input {
  margin-top: 10px;
  padding:0 5px;
  background-color: transparent;
  border:none;
  border-bottom: 1px solid #e1e1e1;
  outline: none;
  color: #fff;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .login{
  width: 100%;
  height: 40px;
  background-color: #FD6D12;
  font-weight: bold;
  border:none;
  color:#e1e1e1;
  margin: 10px 0;
  cursor: pointer;
}

.footer .login:hover{
  background-color: #c85108;
}

.footer a{
  text-decoration: none;
  color: white;
}

.footer .login__submit1 {
  width: 100%;
  height: 40px;
  background-color: #e8e9ee;
  border:none;
  color:#61566a;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.footer .login__submit1:hover {
  background-color: #c5c5ca;
}