.foto_area{
  border: 1px solid gray;
  border-radius: 60px;
  width: 50px;
  display: flex;
  justify-content: center;
}

.perfil{
  color: white;
}

.foto-perfil{
  display: flex;
  justify-content: center;
  margin: 0;
}

.email-perfil{
  color: black;
  text-align: center;
  margin-bottom: 0;
}

.telefone{
  color: grey;
  text-align: center;
  font-size: small;
}

.postagens{
  color:black;
}

.postagens:hover{
  color:black;
}