.title-sobre{
  color: #FD6D12;
  margin-top: 20px;
}

.text-sobre{
  margin-top: 20px;
  color: #0049A9;
  text-align: justify;
}

.sobre_images{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.imagens{
  max-width: 350px;
  max-height: 350px;
  margin-right: 50px;
}

.redes-redes{
  text-align: center;
  flex-direction: row-reverse;
}

.redes{
  color: #FD6D12;
  font-size: 30px;
}

